body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}
#controlPanel{
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
}
